@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

* {
  box-sizing: border-box;
}

.App {
  background-color: #251e63;
  color: #444;
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

h1 {
  color: rgb(179, 131, 226);
  font-size: 10rem;
  text-align: center;
  opacity: 0.5;
}

form {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 100%;
  width: 400px;
}

input {
  border: none;
  color: #ece8e8;
  font-size: 2rem;
  padding: 1rem 2rem;
  display: block;
  width: 100%;
  background-color: #3e3554;
}

input::placeholder {
  color: #a4c5ee;
}

input:focus {
  outline-color: rgb(134, 21, 246);
}


.outerDiv{
  width: 900px;
  margin: 0;
  background-color: #231b44;
  padding: 0;
  list-style-type: none;
}

.outerDiv ul{
  margin: 10px;
  padding: 0px;
  list-style: none;
}

.outerDiv li{
  color: rgb(199, 200, 198);
  padding: 9px;
  margin-bottom: 20px;
  position: relative;
  text-align: left;
  background-color:rgb(45, 50, 91);
/* 
  border-top: 5px solid #e5e5e5; */
  cursor: pointer;
  font-size: 1.5rem;
  padding: 0rem 2rem;
}

.outerDiv ul li span{
  right: 20px;
  cursor: pointer;
  position: absolute;
}

.completetodo{
  text-decoration: line-through;
  color: red;
  background-color: rgb(243, 243, 120) !important;

}